<!DOCTYPE HTML>
<html lang="en">
<head>
<link href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link href="./assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body ng-app="chatApp" ng-cloak>

	<div class="container" ng-controller="ChatCtrl">

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header pull-left">
					<h4>
						<a class="navbar-brand" href="/"><i
							class="fa fa-fire-extinguisher"></i>&nbsp;Incident Central</a>
					</h4>
				</div>
				<div class="navbar-header navbar-brand navbar-inverse pull-right" ng-model="username">
					<i class="fa fa-user"></i>&nbsp;{{username.userLogin}}
				</div>
			</div>
		</div>

		<div class="page-header"></div>


		<button type="button" class="btn btn-primary"
			ng-click="newIncidentEntryWorkflow();" ng-disabled="newIncidentEntry">
			<i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add new incident entry
		</button>

		<div ng-show="newIncidentEntry" class="entryDiv">
			<form name="newIncidentEntryForm" class="form-horizontal" role="form"
				ng-submit="addIncidentItem(newTeam, newMgr, newSeverity, newIncident, newIncFlag)">

				<div>
					<label><i class="fa fa-map-pin"></i>&nbsp;Incident</label>
					<div>
						<div class="radio">
							<label> <input type="radio" ng-model="newIncFlag"
								value="new" checked>&nbsp;Create new incident
							</label> <br> <label> <input type="radio"
								ng-model="newIncFlag" value="existing" type="number">&nbsp;Use
								existing incident <input ng-model="newIncident"
								ng-show="newIncFlag == 'existing'" class="form-control"
								ng-minlength="1" />
							</label>
						</div>
					</div>
				</div>

				<hr />


				<div>
					<label><i class="fa fa-exclamation-triangle"></i>&nbsp;Severity
						Options</label>
					<div>
						<div class="radio">
							<label> <input type="radio" ng-model="newSeverity"
								value="na" checked>&nbsp;No severity applicable
							</label> <br> <label> <input type="radio"
								ng-model="newSeverity" value="fyi" checked>&nbsp;FYI-SEV3
							</label> <br> <label> <input type="radio"
								ng-model="newSeverity" value="other">&nbsp;Other<input
								ng-model="newSeverityLevel" ng-show="newSeverity == 'other'"
								class="form-control" ng-minlength="1" type="number" />
							</label>
						</div>
					</div>
				</div>

				<hr />

				<div>
					<strong><i class="fa fa-user"></i>&nbsp;Incident Manager</strong> <input
						type="text" class="form-control" ng-model="newMgr"
						placeholder="Enter the incident manager name..." required />

				</div>

				<hr />

				<div>
					<strong><i class="fa fa-list-alt"></i>&nbsp;Application
						Name</strong> <input type="text" class="form-control" ng-model="newApp"
						placeholder="Enter the application name..." required />

				</div>

				<hr />

				<div>
					<strong><i class="fa fa-users"></i>&nbsp;Assignment Group</strong>
					<input type="text" class="form-control" ng-model="newTeam"
						placeholder="Enter the assignment group..." required />
				</div>

				<hr />

				<span class="input-group-btn">
					<button class="btn btn-success btn-md" type="submit"
						ng-disabled="!newIncFlag || !newSeverity" title="Add">
						<i class="fa fa-check-circle"></i>&nbsp;Submit
					</button>
					<button type="button" class="btn btn-danger btn-md"
						ng-click="reset();" title="Reset">
						<i class="fa fa-times"></i>&nbsp;Close
					</button>
				</span>
			</form>

		</div>

		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#chat"><i
							class="fa fa-comment"></i>&nbsp;Chat</a>
					</p>
				</div>
				<div id="chat" class="panel-collapse collapse">
					<div class="panel-body">
						<form ng-submit="addMessage()" name="messageForm" id="footer-body">
							<i class="fa fa-commenting fa-lg"></i>&nbsp;<input type="text"
								placeholder="Compose a new message..." class="form-control"
								ng-model="message" ng-max-length="499" />
						</form>
						<hr />
						<div id="chatBody" style="overflow: auto; height: 150px;">
							<p ng-repeat="message in messages | orderBy:'time':true"
								class="message">
								<time>{{message.time | date:'HH:mm'}}</time>
								<span ng-class="{self: message.self}">{{message.message}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript" src="./bower_components/jquery/jquery.js"></script>
<script type="text/javascript"
	src="./bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script type="text/javascript"
	src="./bower_components/angular/angular.js"></script>
<script type="text/javascript"
	src="./bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript"
	src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script type="text/javascript"
	src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="./bower_components/sockjs/sockjs.min.js"
	type="text/javascript"></script>
<script src="./bower_components/stomp-websocket/lib/stomp.min.js"
	type="text/javascript"></script>
<script src="./bower_components/lodash/dist/lodash.min.js"
	type="text/javascript"></script>
<script src="./app/app.js" type="text/javascript"></script>
<script src="./app/controllers.js" type="text/javascript"></script>
<script src="./app/services.js" type="text/javascript"></script>

<script type="text/javascript">
	$('#chat').on('show.bs.collapse', function() {
		$('.panel-heading').animate({
			backgroundColor : "#515151"
		}, 500);
	});

	$('#chat').on('hide.bs.collapse', function() {
		$('.panel-heading').animate({
			backgroundColor : "#336699"
		}, 500);
	});
</script>


</html>