<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
	<li><a href="#">Home</a> <i class="fa fa-circle"></i></li>
	<li class="active">Dashboard</li>

</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">


	<!-- BEGIN DASHBOARD STATS -->

	<div class="row">
		<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat blue">
				<div class="visual">
					<i class="fa fa-envelope-o"></i>
				</div>
				<div class="details">
					<div class="number">
						<timer interval="1000">{{hours}} : {{minutes}} :
						{{seconds}} </timer>
					</div>
					<div class="desc">Since last ITLT Comm.</div>
				</div>
				<a class="more" href="/#/itltComm.html"> View more <i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat green">
				<div class="visual">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="details">
					<div class="number">
						<timer interval="1000" start-time="itltStartTime">{{hours}}
						: {{minutes}} : {{seconds}} </timer>
					</div>
					<div class="desc">Since last Biz Comm.</div>
				</div>
				<a class="more" href="/#/bizComm.html"> View more <i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
			<div class="dashboard-stat red">
				<div class="visual">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="details">
					<div class="number">
						<timer interval="1000" start-time="itltStartTime">{{hours}}
						: {{minutes}} : {{seconds}} </timer>
					</div>
					<div class="desc">Incident is open for</div>
				</div>
				<a class="more" href="#/rundown.html"> View more <i
					class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</div>
		

	</div>

	<!-- END DASHBOARD STATS -->


	<div class="row">
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-bubble font-red-sunglo"></i> <span
							class="caption-subject font-red-sunglo bold uppercase">Chats</span>
					</div>
					<div class="actions">
						<div class="portlet-input input-inline">
							<div class="input-icon right">
								<i class="icon-magnifier"></i> <input type="text"
									ng-model="searchCriteria" placeholder="search..."
									class="form-control input-circle">
							</div>
						</div>
					</div>
				</div>
				<div id="chats" class="portlet-body">
					<div class="slimScrollDiv"
						style="position: relative; overflow: hidden; width: auto; height: 325px;">
						<ul class="chats" style="height: 325px; overflow-y: scroll;">

							<li class="out"
								ng-repeat="msg in chatMsgs | filter:searchCriteria"><img
								src="http://mysites.wellmanage.com/User%20Photos/Profile%20Pictures/{{msg.user}}_LThumb.jpg"
								" alt="" class="avatar">
								<div class="message">
									<div style="cursor: pointer; cursor: hand; float: left;"
										ng-click="tagChat(msg);">
										<div ng-switch on="msg.taggedEvent">
											<div ng-switch-when="tagged">
												<i class="fa fa-tag tagged"></i>
											</div>
											<div ng-switch-default>
												<i class="fa fa-tag untagged"></i>
											</div>
										</div>
									</div>
									<span class="arrow"> </span> <a
										ng-href="http://mysites.wellmanage.com/Person.aspx?accountname=WELLINGTON\{{msg.user}}"
										target="new">{{msg.user}}</a> <span class="datetime">
										at {{msg.timestamp | date:'medium' }} </span> <span class="body">
										{{msg.message}} </span>
								</div></li>

						</ul>
					</div>
				</div>
				<div class="chat-form">
					<form ng-submit="addMessage()" name="chatForm" class="input-cont">
						<i class="fa fa-commenting fa-lg"></i>&nbsp;<input type="text"
							placeholder="Compose a new message..." class="form-control"
							ng-model="chatMessage" ng-max-length="499" />

						<div class="btn-cont">
							<span class="arrow"> </span>
							<button class="btn blue icn-only">
								<i class="fa fa-check icon-white"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END PORTLET-->

		<div class="col-md-6 col-sm-12" ng-controller="tasksCtrl">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">
						<span class="font-red-sunglo"><i class="fa fa-tasks red"></i></span>
						<span class="caption-subject font-red-sunglo bold uppercase">Incident
							Tasks</span>
					</div>
					<div class="table-scrollable table-scrollable-borderless">
						<table class="table table-hover table-light">
							<thead>
								<tr class="uppercase">
									<th>Incident#</th>
									<th>Short description</th>
									<th>Assigned To</th>
									<th>State</th>
									<!-- th>Assignment Group</th -->
								</tr>
							</thead>
							<tr ng-repeat="task in tasks.result">
								<td><a
									href="https://wellingtondev2.service-now.com/nav_to.do?uri=u_incident_task.do?sys_id={{task.sys_id}}"
									class="primary-link" target="new">{{task.number}}</a></td>
								<td>{{task.short_description}}</td>
								<td>{{task.assigned_to}}</td>
								<td>{{task.state}}</td>
								<!--  td>{{task.assignment_group}}</td -->
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- END PORTLET-->

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->

<script>
	Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->