<div class="col-md-12 col-sm-12" ng-controller="tasksCtrl">
	<!-- BEGIN PORTLET-->
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<span class="font-red-sunglo"><i class="fa fa-tasks red"></i></span>
				<span class="caption-subject font-red-sunglo bold uppercase">Incident
					Tasks</span>
			</div>
			<div class="table-scrollable table-scrollable-borderless">
				<table class="table table-hover table-light">
					<thead>
						<tr class="uppercase">
							<th>Incident#</th>
							<th>Short description</th>
							<th>Assigned To</th>
							<th>State</th>
							<th>Assignment Group</th>
						</tr>
					</thead>
					<tr ng-repeat="task in tasks.result">
						<td><a
							href="https://wellingtondev2.service-now.com/nav_to.do?uri=u_incident_task.do?sys_id={{task.sys_id}}"
							class="primary-link" target="new">{{task.number}}</a></td>
						<td>{{task.short_description}}</td>
						<td>{{task.assigned_to}}</td>
						<td>{{task.state}}</td>
						<td>{{task.assignment_group}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>