<div class="landing-form">
	<div class="input-cont">
	 
		<input name="incidentId" type="text" placeholder="Please enter the incident number you like to participate..."
			class="form-control" >
	</div>
	<div class="btn-cont">
		<span class="arrow"> </span> <a class="btn blue icn-only" href="">
			<i class="fa fa-check icon-white"></i>
		</a>
	</div>
</div>

<div class="col-md-12 col-sm-12" ng-controller="activeIncCtrl">
	<!-- BEGIN PORTLET-->
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<span class="font-red-sunglo"><i class="fa fa-tasks red"></i></span>
				<span class="caption-subject font-red-sunglo bold uppercase">Active High Severity Incidents</span>
			</div>
			<div class="table-scrollable table-scrollable-borderless">
				<table class="table table-hover table-light">
					<thead>
						<tr class="uppercase">
							<th>Incident#</th>
							<th>Short description</th>
							<th>Assigned To</th>
							<th>State</th>
							<th>Assignment Group</th>
						</tr>
					</thead>
					<tr ng-repeat="activeIncident in activeIncidents">
						<td><a
							href="/#/dashboard.html?incidentId={{activeIncident.number}}"
							class="primary-link" target="new">{{activeIncident.number}}</a></td>
						<td>{{activeIncident.short_description}}</td>
						<td>{{activeIncident.assigned_to}}</td>
						<td>{{activeIncident.state}}</td>
						<td>{{activeIncident.assignment_group}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>