<div class="portlet light bordered ">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-share font-green"></i> <span
					class="caption-subject font-green bold uppercase">Run Down
					for {{incidentId}} </span>
			</div>
			<div class="actions">
				<a class="btn btn-circle btn-icon-only btn-default fullscreen"
					href="#"> </a>
			</div>
		</div>
		<div id="feeds" class="portlet-body">
			<div class="portlet-scrollable" data-always-visible="1"
				data-rail-visible="0">
				<ul class="feeds">
					<li>
						<div class="col1">
							<div class="cont">
								<div class="cont-col1">
									<div class="label label-sm label-info">
										<i class="fa fa-bullhorn"></i>
									</div>
								</div>
								<div class="cont-col2">
									<div class="desc">Default settle location was returned by
										the ptice.ptc_firmwide.default_settle_loc was wrong. It was
										returning EUR for all US.</div>
								</div>
							</div>
						</div>
						<div class="col2">
							<div class="date">Just now</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="rundown-form">
				<div class="input-cont">
					<input type="text" placeholder="Type here to add to rundown..."
						class="form-control">

				</div>
				<div class="btn-cont">
					<span class="arrow"> </span> <a class="btn blue icn-only" href="">
						<i class="fa fa-check icon-white"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Run Down end -->