
<!-- BEGIN MAIN CONTENT -->

<div class="row">
	<div class="col-md-12">
		<div class="portlet light" ng-controller="teamsCtrl">

			<div class="portlet-body">
				<form class="form-horizontal" role="form">
					<div class="form-body">

						<div class="form-group">
							<label class="col-md-3 control-label">Team/Users:</label>
							<div class="col-md-6">

								<tags-input id="selectedPeople"
									ng-model="multipleDemo.selectedPeople" min-length="1"
									display-property="value" select-property="description"
									replace-spaces-with-dashes="false"
									add-from-autocomplete-only="true" placeholder="Enter Name">
								<auto-complete source="getUsers($query)" min-length="1"></auto-complete>
								</tags-input>


								<!-- <ui-select multiple ng-model="multipleDemo.selectedPeople"
									theme="bootstrap" ng-disabled="disabled"> <ui-select-match
									placeholder="Select person...">{{$item.name}}
								&lt;{{$item.email}}&gt;</ui-select-match> <ui-select-choices
									repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
								{{person.name}} - {{person.email}} </ui-select-choices> </ui-select> -->

							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Send xMatters
								notifiction:</label>
							<div class="col-md-6">
								<span class="checked"> <input id="accordion_demo_toggle"
									class="ng-pristine ng-untouched ng-valid" type="checkbox"
									ng-model="sendXmatters" checked="">
								</span>

							</div>
						</div>
						<div class="form-group">

							<div ng-if="message!=null" class="col-md-6">

								<span>{{message}} </span>

							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="button" class="btn green"
										ng-click="submitTeamUsers()">Submit</button>
									<button type="button" class="btn default"
										ng-click="resetTeamUsers()">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script></script>
<!-- BEGIN MAIN JS -->